@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-sans;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
